@using Project3.Repository
@using Project3.DTO
@inject IRecipeRepository recipeRepository;
@model RecipeDetailDTO;
@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
	var recipe = Model;
	var i = 0;
	var img = recipe.Recipe.Img.Split(',');
	
}
<style>
	.column-container {
		display: flex;
		justify-content: space-between;
	}

	.column {
		flex-basis: calc(50% - 10px); /* Điều chỉnh chiều rộng của cột theo ý muốn */
		/* Thêm các kiểu CSS khác theo nhu cầu */
	}

		/* Điều chỉnh margin để tạo khoảng cách giữa các cột */
		.column + .column {
			margin-left: 20px;
		}

</style>
<div data-elementor-type="wp-post" data-elementor-id="983" class="elementor elementor-983">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-13b02ac elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="13b02ac" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a73ab7c elementor-invisible" data-id="a73ab7c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-11b631b elementor-widget elementor-widget-heading" data-id="11b631b" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}

								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}
								</style>
								<h6 class="elementor-heading-title elementor-size-default">@recipe.Category.CategoryName</h6>
						</div>
					</div>
					<div class="elementor-element elementor-element-884bae1 elementor-widget elementor-widget-heading" data-id="884bae1" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h2 class="elementor-heading-title elementor-size-default">
								@recipe.Recipe.Title
							</h2>
						</div>
					</div>
					<div class="elementor-element elementor-element-86230b0 elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="86230b0" data-element_type="widget" data-widget_type="star-rating.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								@@charset "UTF-8";

								.elementor-star-rating {
									color: #ccd6df;
									font-family: eicons;
									display: inline-block
								}

								.elementor-star-rating i {
									display: inline-block;
									position: relative;
									font-style: normal;
									cursor: default
								}

									.elementor-star-rating i:before {
										content: "\e934";
										display: block;
										font-size: inherit;
										font-family: inherit;
										position: absolute;
										overflow: hidden;
										color: #f0ad4e;
										top: 0;
										left: 0
									}

									.elementor-star-rating .elementor-star-empty:before {
										content: none
									}

									.elementor-star-rating .elementor-star-1:before {
										width: 10%
									}

									.elementor-star-rating .elementor-star-2:before {
										width: 20%
									}

									.elementor-star-rating .elementor-star-3:before {
										width: 30%
									}

									.elementor-star-rating .elementor-star-4:before {
										width: 40%
									}

									.elementor-star-rating .elementor-star-5:before {
										width: 50%
									}

									.elementor-star-rating .elementor-star-6:before {
										width: 60%
									}

									.elementor-star-rating .elementor-star-7:before {
										width: 70%
									}

									.elementor-star-rating .elementor-star-8:before {
										width: 80%
									}

									.elementor-star-rating .elementor-star-9:before {
										width: 90%
									}

								.elementor-star-rating__wrapper {
									display: flex;
									align-items: center
								}

								.elementor-star-rating__title {
									margin-right: 10px
								}

								.elementor-star-rating--align-right .elementor-star-rating__wrapper {
									text-align: right;
									justify-content: flex-end
								}

								.elementor-star-rating--align-left .elementor-star-rating__wrapper {
									text-align: left;
									justify-content: flex-start
								}

								.elementor-star-rating--align-center .elementor-star-rating__wrapper {
									text-align: center;
									justify-content: center
								}

								.elementor-star-rating--align-justify .elementor-star-rating__title {
									margin-right: auto
								}

								@@media (max-width:1024px) {
									.elementor-star-rating-tablet--align-right .elementor-star-rating__wrapper {
										text-align: right;
										justify-content: flex-end
									}

									.elementor-star-rating-tablet--align-left .elementor-star-rating__wrapper {
										text-align: left;
										justify-content: flex-start
									}

									.elementor-star-rating-tablet--align-center .elementor-star-rating__wrapper {
										text-align: center;
										justify-content: center
									}

									.elementor-star-rating-tablet--align-justify .elementor-star-rating__title {
										margin-right: auto
									}
								}

								@@media (max-width:767px) {
									.elementor-star-rating-mobile--align-right .elementor-star-rating__wrapper {
										text-align: right;
										justify-content: flex-end
									}

									.elementor-star-rating-mobile--align-left .elementor-star-rating__wrapper {
										text-align: left;
										justify-content: flex-start
									}

									.elementor-star-rating-mobile--align-center .elementor-star-rating__wrapper {
										text-align: center;
										justify-content: center
									}

									.elementor-star-rating-mobile--align-justify .elementor-star-rating__title {
										margin-right: auto
									}
								}

								.last-star {
									letter-spacing: 0
								}

								.elementor--star-style-star_unicode .elementor-star-rating {
									font-family: Arial,Helvetica,sans-serif
								}

									.elementor--star-style-star_unicode .elementor-star-rating i:not(.elementor-star-empty):before {
										content: "★"
									}</style>
							@*<div class="elementor-star-rating__wrapper">
								<div class="elementor-star-rating__title">187 Reviews</div>
								<div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
							</div>*@
						</div>
					</div>
					<div class="elementor-element elementor-element-17aa381 elementor-widget elementor-widget-text-editor" data-id="17aa381" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
									background-color: #69727d;
									color: #fff
								}

								.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
									color: #69727d;
									border: 3px solid;
									background-color: transparent
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
									margin-top: 8px
								}

								.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
									width: 1em;
									height: 1em
								}
								.elementor-widget-text-editor .elementor-drop-cap {
									float: left;
									text-align: center;
									line-height: 1;
									font-size: 50px
								}
								.elementor-widget-text-editor .elementor-drop-cap-letter {
									display: inline-block
								}</style>				<p>@recipe.Recipe.Description</p>
						</div>
					</div>
					
					
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e35116a elementor-invisible" data-id="e35116a" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-dcf05e9 elementor-skin-slideshow elementor-aspect-ratio-43 elementor-arrows-yes elementor-widget elementor-widget-media-carousel" data-id="dcf05e9" data-element_type="widget" data-settings="{&quot;skin&quot;:&quot;slideshow&quot;,&quot;centered_slides&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;show_arrows&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="media-carousel.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor-pro/assets/css/widget-carousel.min.css">		<div class="elementor-swiper">
								<div class="elementor-main-swiper swiper-container">
									<div class="swiper-wrapper">
										@foreach (var u in img)
										{
											<div class="swiper-slide">
												<div class="elementor-carousel-image" style="background-image: url(/@u)">
												</div>
											</div>
										}
										
									</div>
									<div class="elementor-swiper-button elementor-swiper-button-prev">
										<svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-left" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M646 125C629 125 613 133 604 142L308 442C296 454 292 471 292 487 292 504 296 521 308 533L604 854C617 867 629 875 646 875 663 875 679 871 692 858 704 846 713 829 713 812 713 796 708 779 692 767L438 487 692 225C700 217 708 204 708 187 708 171 704 154 692 142 675 129 663 125 646 125Z"></path></svg>							<span class="elementor-screen-only">Previous</span>
									</div>
									<div class="elementor-swiper-button elementor-swiper-button-next">
										<svg aria-hidden="true" class="e-font-icon-svg e-eicon-chevron-right" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M696 533C708 521 713 504 713 487 713 471 708 454 696 446L400 146C388 133 375 125 354 125 338 125 325 129 313 142 300 154 292 171 292 187 292 204 296 221 308 233L563 492 304 771C292 783 288 800 288 817 288 833 296 850 308 863 321 871 338 875 354 875 371 875 388 867 400 854L696 533Z"></path></svg>							<span class="elementor-screen-only">Next</span>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-ca136dd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ca136dd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cdb83d1 animated-slow elementor-invisible" data-id="cdb83d1" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					@*<div class="elementor-element elementor-element-b7e0b7e elementor-widget elementor-widget-heading" data-id="b7e0b7e" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Descriptions</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-86d4f90 elementor-widget elementor-widget-text-editor" data-id="86d4f90" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Metus porttitor facilisis velit blandit ante fringilla sit neque ultrices quis. Inceptos nibh sociosqu ad volutpat nisi natoque posuere cras sollicitudin. Nulla dignissim commodo si libero hac neque sodales litora.</p>
						</div>
					</div>
					<div class="elementor-element elementor-element-fb9deb7 elementor-widget elementor-widget-text-editor" data-id="fb9deb7" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Metus porttitor facilisis velit blandit ante fringilla sit neque ultrices quis. Inceptos nibh sociosqu ad volutpat nisi natoque posuere cras sollicitudin. Nulla dignissim commodo si libero hac neque sodales litora.</p>
						</div>
					</div>*@
					<div class="elementor-element elementor-element-cc59048 elementor-widget elementor-widget-heading" data-id="cc59048" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Directions</h4>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-f879f13 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f879f13" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							
							<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9488283" data-id="9488283" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-e5fc525 elementor-widget elementor-widget-text-editor" data-id="e5fc525" data-element_type="widget" data-widget_type="text-editor.default">
										<div class="elementor-widget-container">
											<p>@recipe.Recipe.Instruction</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					@*<div class="elementor-element elementor-element-754810c elementor-widget elementor-widget-heading" data-id="754810c" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h4 class="elementor-heading-title elementor-size-default">Note's</h4>
						</div>
					</div>
					<div class="elementor-element elementor-element-bc668f2 elementor-widget elementor-widget-text-editor" data-id="bc668f2" data-element_type="widget" data-widget_type="text-editor.default">
						<div class="elementor-widget-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
						</div>
					</div>*@
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0f3a3b9" data-id="0f3a3b9" data-element_type="column">
				<div class="elementor-widget-wrap elementor-element-populated">
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-be526d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="be526d2" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-e086dd8" data-id="e086dd8" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-4de2436 elementor-widget elementor-widget-heading" data-id="4de2436" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Ingredients</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-15dc124 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="15dc124" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
											<div class="column-container">
												<div class="column">
													<ul class="elementor-icon-list-items">
														@foreach (var ingre in recipe.Ingredients)
														{
															i++;
															if (i <= (recipe.Ingredients.Count()/2))
															{
																<li class="elementor-icon-list-item">
																	<span class="elementor-icon-list-icon">
																		<i aria-hidden="true" class="icon icon-checkmark"></i>
																	</span>
																	<span class="elementor-icon-list-text">@ingre.Quantity @ingre.Name</span>
																</li>
															}
															else
															{
																break;
																 
															}
														}
													</ul>
												</div>
												<div class="column">
													<ul class="elementor-icon-list-items">
														@for (int j = (recipe.Ingredients.Count() / 2); j < recipe.Ingredients.Count(); j++)
														{
															var ingre = recipe.Ingredients[j];
															<li class="elementor-icon-list-item">
																<span class="elementor-icon-list-icon">
																	<i aria-hidden="true" class="icon icon-checkmark"></i>
																</span>
																<span class="elementor-icon-list-text">@ingre.Quantity @ingre.Name</span>
															</li>
														}
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-7cc9104 elementor-widget elementor-widget-heading" data-id="7cc9104" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Menu info</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-118f210 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="118f210" data-element_type="widget" data-widget_type="icon-list.default">
										<div class="elementor-widget-container">
											<ul class="elementor-icon-list-items">
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<svg aria-hidden="true" class="e-font-icon-svg e-far-clock" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
													</span>
													<span class="elementor-icon-list-text">Total:@recipe.Recipe.CookingTime</span>
												</li>
												
												<li class="elementor-icon-list-item">
													<span class="elementor-icon-list-icon">
														<i aria-hidden="true" class="material-icons md-local_dining" data-md-icon="local_dining"></i>
													</span>
													<span class="elementor-icon-list-text">Servings:@recipe.Recipe.Servings</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-58afb6b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="58afb6b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:240}">
						<div class="elementor-background-overlay"></div>
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2f4690f" data-id="2f4690f" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-25705f7 elementor-widget elementor-widget-heading" data-id="25705f7" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h4 class="elementor-heading-title elementor-size-default">Author: @recipe.User.Name</h4>
										</div>
									</div>
									<div class="elementor-element elementor-element-c5a7a2d elementor-position-left elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="c5a7a2d" data-element_type="widget" data-widget_type="image-box.default">
										<div class="elementor-widget-container">
											<style>
												/*! elementor - v3.15.0 - 09-08-2023 */
												.elementor-widget-image-box .elementor-image-box-content {
													width: 100%
												}

												@@media (min-width:768px) {
													.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper, .elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
														display: flex
													}

													.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper {
														text-align: right;
														flex-direction: row-reverse
													}

													.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper {
														text-align: left;
														flex-direction: row
													}

													.elementor-widget-image-box.elementor-position-top .elementor-image-box-img {
														margin: auto
													}

													.elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper {
														align-items: flex-start
													}

													.elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper {
														align-items: center
													}

													.elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper {
														align-items: flex-end
													}
												}

												@@media (max-width:767px) {
													.elementor-widget-image-box .elementor-image-box-img {
														margin-left: auto !important;
														margin-right: auto !important;
														margin-bottom: 15px
													}
												}

												.elementor-widget-image-box .elementor-image-box-img {
													display: inline-block
												}

												.elementor-widget-image-box .elementor-image-box-title a {
													color: inherit
												}

												.elementor-widget-image-box .elementor-image-box-wrapper {
													text-align: center
												}

												.elementor-widget-image-box .elementor-image-box-description {
													margin: 0
												}</style><div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" fetchpriority="high" width="400" height="400" src="/@recipe.User.Avatar" class="attachment-full size-full wp-image-1091" alt="" srcset="/@recipe.User.Avatar 400w, /@recipe.User.Avatar 300w, /@recipe.User.Avatar 150w" sizes="(max-width: 400px) 100vw, 400px" /></figure></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-e0fd804 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0fd804" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default ">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-167ed45" data-id="167ed45" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-d25be84 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d25be84" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a21452c elementor-invisible" data-id="a21452c" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bca8a19 elementor-widget elementor-widget-heading" data-id="bca8a19" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">Latest Recipes</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7c8d4ec elementor-invisible" data-id="7c8d4ec" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-749d236 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="749d236" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <i aria-hidden="true" class="material-icons md-call_made" data-md-icon="call_made"></i>
                                                        </span>
                                                        <span class="elementor-button-text">View more</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-8e637d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="8e637d0" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                        <div class="elementor-container elementor-column-gap-default" style="margin-bottom:50px">
                            <div class="  bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d396ba5" data-id="d396ba5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-db90170 elementor-widget elementor-widget-image" data-id="db90170" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" width="1080" height="1618" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65.jpg" class="attachment-full size-full wp-image-775" alt="Chicken 65" srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-200x300.jpg 200w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-684x1024.jpg 684w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-768x1151.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-1025x1536.jpg 1025w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/chicken-65-800x1199.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
                                        </div>
                                    </div>
                                    <div style="width: 105px;
												position: absolute;
												left: 170px;" class=" elementor-element elementor-element-43c1969 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="43c1969" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="width: 100%;
													height: 30px;
													margin-top: 10px;" class="elementor-widget-container ">
                                            <ul style=" background-color: var(--e-global-color-d7d34cf );
														width: 100%;
														height: 100%;
														border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items ">
                                                <li style="display: flex;
														   align-items: center;
														   justify-content: center;
														   height: 100%;
														   color: #ffff;
														   font-size: 12px;" class="elementor-icon-list-item ">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Bren</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-fa8296c elementor-widget elementor-widget-heading" data-id="fa8296c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5a2399c elementor-widget elementor-widget-heading" data-id="5a2399c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Quick Chicken Piccata
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-00eb634 elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="00eb634" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-58417a0 elementor-widget elementor-widget-text-editor" data-id="58417a0" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a19cd6e" data-id="a19cd6e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-543a794 elementor-widget elementor-widget-image" data-id="543a794" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" width="1080" height="720" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry-.jpg" class="attachment-full size-full wp-image-830" alt="Homemade kung pao chicken with peppers and vegetables. Chinese food. Stir fry." srcset="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry-.jpg 1080w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--300x200.jpg 300w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--1024x682.jpg 1024w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--768x512.jpg 768w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--1536x1024.jpg 1536w, https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/homemade-kung-pao-chicken-with-peppers-and-vegetables-chinese-food-stir-fry--800x533.jpg 800w" sizes="(max-width: 1080px) 100vw, 1080px" />
                                        </div>
                                    </div>
                                    <div style="width: 105px;
												position: absolute;
												left: 170px;" class="elementor-element elementor-element-44ac836 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="44ac836" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="width: 100%;
													height: 30px;
													margin-top: 10px;" class="elementor-widget-container">
                                            <ul style="background-color: var(--e-global-color-d7d34cf );
													   width: 100%;
													   height: 100%;
													   border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style=" display: flex;
															align-items: center;
															justify-content: center;
															height: 100%;
															color: #ffff;
															font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Morra</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-35543e4 elementor-widget elementor-widget-heading" data-id="35543e4" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-70dcee0 elementor-widget elementor-widget-heading" data-id="70dcee0" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Kung Pao Chicken
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-29646cd elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="29646cd" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e85e156 elementor-widget elementor-widget-text-editor" data-id="e85e156" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2b6d39d" data-id="2b6d39d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-9c5278b elementor-widget elementor-widget-image" data-id="9c5278b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" loading="lazy" width="840" height="561" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/sweet-and-spicy-honey-grilled-chicken-thighs-e1649757466220.jpg" class="attachment-full size-full wp-image-834" alt="Sweet and spicy honey grilled chicken thighs" />
                                        </div>
                                    </div>
                                    <div style="width: 105px;
												position: absolute;
												left: 170px;" class="elementor-element elementor-element-a2acb42 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="a2acb42" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="width: 100%;
													height: 30px;
													margin-top: 10px;" class="elementor-widget-container">
                                            <ul style="background-color: var(--e-global-color-d7d34cf );
													   width: 100%;
													   height: 100%;
													   border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style=" display: flex;
															align-items: center;
															justify-content: center;
															height: 100%;
															color: #ffff;
															font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Chef Juna</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-68272ea elementor-widget elementor-widget-heading" data-id="68272ea" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Main Dishes
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2b92ffc elementor-widget elementor-widget-heading" data-id="2b92ffc" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default"><a href="#">Honey-Garlic Slow Cooker Chicken Thighs</a></h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a9997dd elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="a9997dd" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-46696f8 elementor-widget elementor-widget-text-editor" data-id="46696f8" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-item elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8608c4d" data-id="8608c4d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class=" elementor-element elementor-element-89f0cc9 elementor-widget elementor-widget-image" data-id="89f0cc9" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container img-item">
                                            <img decoding="async" loading="lazy" width="720" height="1080" src="https://point.moxcreative.com/yumma/wp-content/uploads/sites/2/2022/04/baked-brie-with-cranberries-e1649757494180.jpg" class="attachment-full size-full wp-image-847" alt="Baked brie with cranberries" />
                                        </div>
                                    </div>
                                    <div style="width: 105px;
												position: absolute;
												left: 170px;" class="elementor-element elementor-element-8352571 elementor-widget__width-auto elementor-absolute elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="8352571" data-element_type="widget" data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="icon-list.default">
                                        <div style="width: 100%;
													height: 30px;
													margin-top: 10px;" class="elementor-widget-container">
                                            <ul style=" background-color: var(--e-global-color-d7d34cf );
														width: 100%;
														height: 100%;
														border-radius: 20px 20px 20px 20px;" class="elementor-icon-list-items">
                                                <li style="
															display: flex;
															align-items: center;
															justify-content: center;
															height: 100%;
															color: #ffff;
															font-size: 12px;" class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
                                                        <i aria-hidden="true" class="icon icon-user"></i>
                                                    </span>
                                                    <span class="elementor-icon-list-text">by Wilgoz</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d42d75b elementor-widget elementor-widget-heading" data-id="d42d75b" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h6 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Appetizers and Snacks
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a3de5fe elementor-widget elementor-widget-heading" data-id="a3de5fe" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">
                                                <a href="#">
                                                    Jamie's Baked Brie
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2f0986b elementor--star-style-star_unicode elementor-widget elementor-widget-star-rating" data-id="2f0986b" data-element_type="widget" data-widget_type="star-rating.default">
                                        <div class="elementor-widget-container">

                                            <div class="elementor-star-rating__wrapper">
                                                <div class="elementor-star-rating" title="4.5/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-full">&#9733;</i><i class="elementor-star-5">&#9733;</i> <span itemprop="ratingValue" class="elementor-screen-only">4.5/5</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9572a03 elementor-widget elementor-widget-text-editor" data-id="9572a03" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Habitant accumsan suscipit sodales phasellus nulla elit placerat sapien quisque gravida tincidunt</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                    
                </div>
			</div>
		</div>
				
    </section>
</div>

