@using Project3.Repository
@using Project3.DTO
@inject IContestRepository contestRepository;
@model ContestDTO;
@{
	Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

<div data-elementor-type="archive" data-elementor-id="83" class="elementor elementor-83 elementor-location-archive">
	<section class="elementor-section elementor-top-section elementor-element elementor-element-9c87ac0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9c87ac0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-background-overlay"></div>
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-ec707b5 elementor-invisible" data-id="ec707b5" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-a869039 elementor-widget elementor-widget-heading" data-id="a869039" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<style>
								/*! elementor - v3.15.0 - 09-08-2023 */
								.elementor-heading-title {
									padding: 0;
									margin: 0;
									line-height: 1
								}
								
								.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
									color: inherit;
									font-size: inherit;
									line-height: inherit
								}
								
								.elementor-widget-heading .elementor-heading-title.elementor-size-small {
									font-size: 15px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
									font-size: 19px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-large {
									font-size: 29px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
									font-size: 39px
								}

								.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
									font-size: 59px
								}</style><h1 class="elementor-heading-title elementor-size-default">Blog</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d3970be elementor-invisible" data-id="d3970be" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-4f12716 elementor-icon-list--layout-inline elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4f12716" data-element_type="widget" data-widget_type="icon-list.default">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-icon-list-items elementor-inline-items">
								<li class="elementor-icon-list-item elementor-inline-item">
									<span class="elementor-icon-list-text">Home</span>
								</li>
								<li class="elementor-icon-list-item elementor-inline-item">
									<span class="elementor-icon-list-icon">
										<svg aria-hidden="true" class="e-font-icon-svg e-fas-chevron-right" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
									</span>
									<span class="elementor-icon-list-text">Blog</span>
								</li>
								<li class="elementor-icon-list-item elementor-inline-item">
									<span class="elementor-icon-list-icon">
										<svg aria-hidden="true" class="e-font-icon-svg e-fas-chevron-right" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
									</span>
									<span class="elementor-icon-list-text">Archives: Templates</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="elementor-element elementor-element-11b41cf elementor-widget elementor-widget-heading" data-id="11b41cf" data-element_type="widget" data-widget_type="heading.default">
						<div class="elementor-widget-container">
							<h3 class="elementor-heading-title elementor-size-default">Archives: Templates</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="elementor-section elementor-top-section elementor-element elementor-element-fba3abf elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fba3abf" data-element_type="section">
		<div class="elementor-container elementor-column-gap-default">
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-526cd96 elementor-invisible" data-id="526cd96" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-d539eaf elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-right elementor-grid-mobile-1 elementor-widget elementor-widget-archive-posts" data-id="d539eaf" data-element_type="widget" data-settings="{&quot;archive_classic_columns&quot;:&quot;1&quot;,&quot;archive_classic_columns_tablet&quot;:&quot;1&quot;,&quot;archive_classic_columns_mobile&quot;:&quot;1&quot;,&quot;archive_classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;archive_classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;archive_classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;pagination_type&quot;:&quot;numbers&quot;}" data-widget_type="archive-posts.archive_classic">
						<div class="elementor-widget-container">
							<link rel="stylesheet" href="~/wp-content/plugins/elementor-pro/assets/css/widget-posts.min.css">		<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid">
								@foreach (var item in ViewBag.Result)
								{
									<article class="elementor-post elementor-grid-item post-254 envato_tk_templates type-envato_tk_templates status-publish has-post-thumbnail hentry">

										<div class="elementor-post__text">
											<center>
												<h1 style="color:orangered">@item.Title</h1>
											</center>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-date">
													<span>StartDate:@item.StartDate</span>
													
												</span>
												<br>
												<span class="elementor-post-date">
													<span>EndDate:@item.EndDate</span>
												</span>
											</div>
											<div class="elementor-post__excerpt">
												<p>Category:</p>
												<p>@item.CategoryId</p>
											</div>
											<div class="elementor-post__excerpt">
												<p>Description:</p>
												<p>@item.Description</p>
											</div>
											<div class="elementor-post__excerpt">
												<p>Rule:</p>
												<p>@item.Rule</p>
											</div>
											<div>@item.Img</div>
											<div>anh B</div>
											<div>anh C</div>
											<div>anh D</div>
											<div class="elementor-element elementor-element-07251aa elementor-author-box--avatar-yes elementor-author-box--name-yes elementor-author-box--biography-yes elementor-author-box--link-no elementor-widget elementor-widget-author-box" data-id="07251aa" data-element_type="widget" data-widget_type="author-box.default">
												<div class="elementor-widget-container">
													<div class="elementor-author-box">
														<div class="elementor-author-box__avatar">
															<img src="https://secure.gravatar.com/avatar/c36f29293de5ca5aa9992586ff858f15?s=300&amp;d=mm&amp;r=g" alt="rocken">
														</div>

														<div class="elementor-author-box__text">
															<div>
																<h5 class="elementor-author-box__name">
																	
																</h5>
															</div>

															<div class="elementor-author-box__bio">
															</div>

														</div>
													</div>
												</div>
											</div>
											<div class="elementor-element elementor-element-a5d8648 elementor-widget elementor-widget-post-comments" data-id="a5d8648" data-element_type="widget" data-widget_type="post-comments.theme_comments">
												<div class="elementor-widget-container">
											<section id="comments" class="comments-area">
												<div id="respond" class="comment-respond">
													<h2 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h2><form action="https://point.moxcreative.com/yumma/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
														<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span class="required-field-message">Required fields are marked <span class="required">*</span></span></p><p class="comment-form-comment"><label for="comment">Comment <span class="required">*</span></label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required /></p>
														<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" autocomplete="email" required /></p>
														<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" autocomplete="url" /></p>
														<p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
														<p class="form-submit">
															<input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='77' id='comment_post_ID' />
															<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
														</p>
													</form>
												</div><!-- #respond -->

											</section><!-- .comments-area -->

										</div>
									</article>
								}
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-218ada6 elementor-invisible" data-id="218ada6" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
				<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-element elementor-element-5f7b241 elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="5f7b241" data-element_type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
						<div class="elementor-widget-container">
							<form class="elementor-search-form" role="search" action="https://point.moxcreative.com/yumma" method="get">
								<div class="elementor-search-form__container">
									<input placeholder="Search~." class="elementor-search-form__input" type="search" name="s" title="Search" value="">
									<button class="elementor-search-form__submit" type="submit" title="Search" aria-label="Search">
										<div class="e-font-icon-svg-container"><svg class="fa fa-search e-font-icon-svg e-fas-search" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></div>							<span class="elementor-screen-only">Search</span>
									</button>
								</div>
							</form>
						</div>
					</div>
					<section class="elementor-section elementor-inner-section elementor-element elementor-element-032ef3f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="032ef3f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-02687b9" data-id="02687b9" data-element_type="column">
								<div class="elementor-widget-wrap elementor-element-populated">
									<div class="elementor-element elementor-element-6e0d86e elementor-widget elementor-widget-heading" data-id="6e0d86e" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<h3 class="elementor-heading-title elementor-size-default">Newsletter</h3>
										</div>
									</div>
									<div class="elementor-element elementor-element-4e2f035 elementor-widget elementor-widget-heading" data-id="4e2f035" data-element_type="widget" data-widget_type="heading.default">
										<div class="elementor-widget-container">
											<div class="elementor-heading-title elementor-size-default">Subscribe to our newsletter for update informations, recipes or insight</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-ef94d02 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="ef94d02" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
										<div class="elementor-widget-container">
											<style>
												/*! elementor-pro - v3.10.1 - 09-01-2023 */
												.elementor-button.elementor-hidden, .elementor-hidden {
													display: none
												}

												.e-form__step {
													width: 100%
												}

													.e-form__step:not(.elementor-hidden) {
														display: flex;
														flex-wrap: wrap
													}

												.e-form__buttons {
													flex-wrap: wrap
												}

												.e-form__buttons, .e-form__buttons__wrapper {
													display: flex
												}

												.e-form__indicators {
													display: flex;
													justify-content: space-between;
													align-items: center;
													flex-wrap: nowrap;
													font-size: 13px;
													margin-bottom: var(--e-form-steps-indicators-spacing)
												}

												.e-form__indicators__indicator {
													display: flex;
													flex-direction: column;
													align-items: center;
													justify-content: center;
													flex-basis: 0;
													padding: 0 var(--e-form-steps-divider-gap)
												}

												.e-form__indicators__indicator__progress {
													width: 100%;
													position: relative;
													background-color: var(--e-form-steps-indicator-progress-background-color);
													border-radius: var(--e-form-steps-indicator-progress-border-radius);
													overflow: hidden
												}

												.e-form__indicators__indicator__progress__meter {
													width: var(--e-form-steps-indicator-progress-meter-width,0);
													height: var(--e-form-steps-indicator-progress-height);
													line-height: var(--e-form-steps-indicator-progress-height);
													padding-right: 15px;
													border-radius: var(--e-form-steps-indicator-progress-border-radius);
													background-color: var(--e-form-steps-indicator-progress-color);
													color: var(--e-form-steps-indicator-progress-meter-color);
													text-align: right;
													transition: width .1s linear
												}

												.e-form__indicators__indicator:first-child {
													padding-left: 0
												}

												.e-form__indicators__indicator:last-child {
													padding-right: 0
												}

												.e-form__indicators__indicator--state-inactive {
													color: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
												}

													.e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
														background-color: var(--e-form-steps-indicator-inactive-secondary-color,#fff)
													}

													.e-form__indicators__indicator--state-inactive object, .e-form__indicators__indicator--state-inactive svg {
														fill: var(--e-form-steps-indicator-inactive-primary-color,#c2cbd2)
													}

												.e-form__indicators__indicator--state-active {
													color: var(--e-form-steps-indicator-active-primary-color,#39b54a);
													border-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
												}

													.e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
														background-color: var(--e-form-steps-indicator-active-secondary-color,#fff)
													}

													.e-form__indicators__indicator--state-active object, .e-form__indicators__indicator--state-active svg {
														fill: var(--e-form-steps-indicator-active-primary-color,#39b54a)
													}

												.e-form__indicators__indicator--state-completed {
													color: var(--e-form-steps-indicator-completed-secondary-color,#fff)
												}

													.e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
														background-color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
													}

													.e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
														color: var(--e-form-steps-indicator-completed-primary-color,#39b54a)
													}

													.e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
														color: var(--e-form-steps-indicator-completed-primary-color,#39b54a);
														background-color: initial
													}

													.e-form__indicators__indicator--state-completed object, .e-form__indicators__indicator--state-completed svg {
														fill: var(--e-form-steps-indicator-completed-secondary-color,#fff)
													}

												.e-form__indicators__indicator__icon {
													width: var(--e-form-steps-indicator-padding,30px);
													height: var(--e-form-steps-indicator-padding,30px);
													font-size: var(--e-form-steps-indicator-icon-size);
													border-width: 1px;
													border-style: solid;
													display: flex;
													justify-content: center;
													align-items: center;
													overflow: hidden;
													margin-bottom: 10px
												}

													.e-form__indicators__indicator__icon img, .e-form__indicators__indicator__icon object, .e-form__indicators__indicator__icon svg {
														width: var(--e-form-steps-indicator-icon-size);
														height: auto
													}

													.e-form__indicators__indicator__icon .e-font-icon-svg {
														height: 1em
													}

												.e-form__indicators__indicator__number {
													width: var(--e-form-steps-indicator-padding,30px);
													height: var(--e-form-steps-indicator-padding,30px);
													border-width: 1px;
													border-style: solid;
													display: flex;
													justify-content: center;
													align-items: center;
													margin-bottom: 10px
												}

												.e-form__indicators__indicator--shape-circle {
													border-radius: 50%
												}

												.e-form__indicators__indicator--shape-square {
													border-radius: 0
												}

												.e-form__indicators__indicator--shape-rounded {
													border-radius: 5px
												}

												.e-form__indicators__indicator--shape-none {
													border: 0
												}

												.e-form__indicators__indicator__label {
													text-align: center
												}

												.e-form__indicators__indicator__separator {
													width: 100%;
													height: var(--e-form-steps-divider-width);
													background-color: #c2cbd2
												}

												.e-form__indicators--type-icon, .e-form__indicators--type-icon_text, .e-form__indicators--type-number, .e-form__indicators--type-number_text {
													align-items: flex-start
												}

													.e-form__indicators--type-icon .e-form__indicators__indicator__separator, .e-form__indicators--type-icon_text .e-form__indicators__indicator__separator, .e-form__indicators--type-number .e-form__indicators__indicator__separator, .e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
														margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
													}

												.elementor-field-type-hidden {
													display: none
												}

												.elementor-field-type-html {
													display: inline-block
												}

												.elementor-login .elementor-lost-password, .elementor-login .elementor-remember-me {
													font-size: .85em
												}

												.elementor-field-type-recaptcha_v3 .elementor-field-label {
													display: none
												}

												.elementor-field-type-recaptcha_v3 .grecaptcha-badge {
													z-index: 1
												}

												.elementor-button .elementor-form-spinner {
													order: 3
												}

												.elementor-form .elementor-button > span {
													display: flex;
													justify-content: center;
													align-items: center
												}

												.elementor-form .elementor-button .elementor-button-text {
													white-space: normal;
													flex-grow: 0
												}

												.elementor-form .elementor-button svg {
													height: auto
												}

												.elementor-form .elementor-button .e-font-icon-svg {
													height: 1em
												}

												.elementor-select-wrapper .select-caret-down-wrapper {
													position: absolute;
													top: 50%;
													transform: translateY(-50%);
													inset-inline-end: 10px;
													pointer-events: none;
													font-size: 11px
												}

													.elementor-select-wrapper .select-caret-down-wrapper svg {
														display: unset;
														width: 1em;
														aspect-ratio: unset;
														fill: currentColor
													}

													.elementor-select-wrapper .select-caret-down-wrapper i {
														font-size: 19px;
														line-height: 2
													}

												.elementor-select-wrapper.remove-before:before {
													content: "" !important
												}</style>		<form class="elementor-form" method="post" name="New Form">
												<input type="hidden" name="post_id" value="83" />
												<input type="hidden" name="form_id" value="ef94d02" />
												<input type="hidden" name="referer_title" value="Templates" />


												<div class="elementor-form-fields-wrapper elementor-labels-above">
													<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
														<label for="form-field-name" class="elementor-field-label">
															Name
														</label>
														<input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Name">
													</div>
													<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
														<label for="form-field-email" class="elementor-field-label">
															Email
														</label>
														<input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
													</div>
													<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
														<button type="submit" class="elementor-button elementor-size-md">
															<span>
																<span class="elementor-align-icon-left elementor-button-icon">
																	<svg aria-hidden="true" class="e-font-icon-svg e-far-envelope" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
																</span>
																<span class="elementor-button-text">Sign up</span>
															</span>
														</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="elementor-element elementor-element-504ec3e elementor-widget elementor-widget-heading" data-id="504ec3e" data-element_type="widget" data-widget_type="heading.default">
							<div class="elementor-widget-container">
								<h4 class="elementor-heading-title elementor-size-default">Latest Post</h4>
							</div>
						</div>
						<div class="elementor-element elementor-element-97e525e elementor-grid-1 elementor-posts--thumbnail-left elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="97e525e" data-element_type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:21,&quot;sizes&quot;:[]},&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
							<div class="elementor-widget-container">
								<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid">
									<article class="elementor-post elementor-grid-item post-80 post type-post status-publish format-standard has-post-thumbnail hentry category-kitchen-tips tag-cooking tag-food tag-kitchen tag-recipes">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/how-to-peel-hard-boiled-eggs-perfectly-every-single-time/index.html">
											<div class="elementor-post__thumbnail"><img width="1080" height="755" src="~/wp-content/uploads/sites/2/2022/04/greek-salad-and-boiled-eggs-.jpg" class="attachment-full size-full wp-image-81" alt="Greek salad and boiled eggs." loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/how-to-peel-hard-boiled-eggs-perfectly-every-single-time/index.html">
													How to Peel Hard Boiled Eggs Perfectly, Every Single Time
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
									<article class="elementor-post elementor-grid-item post-77 post type-post status-publish format-standard has-post-thumbnail hentry category-kitchen-tips tag-cooking tag-food tag-kitchen tag-recipes">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/of-course-ina-gartens-ice-cream-hack-is-totally-brilliant/index.html">
											<div class="elementor-post__thumbnail"><img width="1080" height="720" src="~/wp-content/uploads/sites/2/2022/04/lemon-ice-cream.jpg" class="attachment-full size-full wp-image-78" alt="Lemon Ice Cream" loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/of-course-ina-gartens-ice-cream-hack-is-totally-brilliant/index.html">
													Of Course Ina Garten&#8217;s Ice Cream Hack Is Totally Brilliant
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
									<article class="elementor-post elementor-grid-item post-74 post type-post status-publish format-standard has-post-thumbnail hentry category-insight tag-cooking tag-food tag-kitchen tag-recipes">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/passover-seder-for-25-totally-possible/index.html">
											<div class="elementor-post__thumbnail"><img width="1080" height="721" src="~/wp-content/uploads/sites/2/2022/04/top-view-of-matza-cookies-and-wine-on-table-passover-tale-concept.jpg" class="attachment-full size-full wp-image-75" alt="top view of matza, cookies and wine on table, Passover Tale concept" loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/passover-seder-for-25-totally-possible/index.html">
													Passover Seder for $25? Totally Possible
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
									<article class="elementor-post elementor-grid-item post-71 post type-post status-publish format-standard has-post-thumbnail hentry category-cookbook tag-cooking tag-food tag-kitchen tag-recipes">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/salad-freaks-unite-our-cookbook-is-finally-here/index.html">
											<div class="elementor-post__thumbnail"><img width="1080" height="720" src="~/wp-content/uploads/sites/2/2022/04/old-cook-book-with-ingredients.jpg" class="attachment-full size-full wp-image-72" alt="Old cook book with ingredients" loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/salad-freaks-unite-our-cookbook-is-finally-here/index.html">
													Salad Freaks Unite—Our Cookbook Is Finally Here
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
									<article class="elementor-post elementor-grid-item post-68 post type-post status-publish format-standard has-post-thumbnail hentry category-kitchen-tips tag-cooking tag-food tag-kitchen tag-recipes">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/whats-the-difference-between-prawns-shrimp/index.html">
											<div class="elementor-post__thumbnail"><img width="840" height="560" src="~/wp-content/uploads/sites/2/2022/04/roasted-prawns-shrimps-in-frying-pan-with-lemon-and-chili-pepper-e1649757645348.jpg" class="attachment-full size-full wp-image-69" alt="Roasted Prawns Shrimps in frying pan with lemon and chili pepper" loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/whats-the-difference-between-prawns-shrimp/index.html">
													What’s the Difference Between Prawns &#038; Shrimp?
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
									<article class="elementor-post elementor-grid-item post-63 post type-post status-publish format-standard has-post-thumbnail hentry category-kitchen-tips">
										<a class="elementor-post__thumbnail__link" href="~/2022/04/09/the-absolute-best-way-to-make-an-egg-sandwich/index.html">
											<div class="elementor-post__thumbnail"><img width="1080" height="747" src="~/wp-content/uploads/sites/2/2022/04/plate-of-poached-egg-sandwich.jpg" class="attachment-full size-full wp-image-65" alt="plate of poached egg sandwich" loading="lazy" /></div>
										</a>
										<div class="elementor-post__text">
											<div class="elementor-post__title">
												<a href="~/2022/04/09/the-absolute-best-way-to-make-an-egg-sandwich/index.html">
													The Absolute Best Way to Make an Egg Sandwich
												</a>
											</div>
											<div class="elementor-post__meta-data">
												<span class="elementor-post-author">
													rocken
												</span>
												<span class="elementor-post-date">
													April 9, 2022
												</span>
											</div>
										</div>
									</article>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

